<h1>Detalhes da Propiedade</h1>
<ul>
  <li>Tipo: <%=@property.property_type%></li>
  <li>Capacidade maxima: <%=@property.maximum_guests%></li>
  <li>Minimo dias de aluguel: <%=@property.minimum_rent%></li>
  <li>Maximo dias de aluguel: <%=@property.maximum_rent%></li>
  <li>Finalidade: <%=@property.rent_purpose%></li>
  <li>Localizacao: <%=@property.property_location%></li>
  <li>Descrição: <%=@property.description%></li>
  <li>Regras: <%=@property.rules%></li>
  <li>Valor: R$ <%=@property.daily_rate%></li>
  <li>Foto: <%=@property.picture%></li>
</ul>

  <h2>Precos por Temporada</h2>
  <% @property.prices.each do |price|%>
  <ul>
    <li>Temporada: <%= price.name%></li>
    <li>Data inicio: <%= price.start_date.strftime("%d/%m/%Y")%></li>
    <li>Data fim: <%= price.end_date.strftime("%d/%m/%Y")%></li>
    <li>Valor da diaria: <%= format("%.2f", price.total_amount) %></li>
  </ul>
  <% end %>

  <h2>Contatos</h2>
  <ul>
    <li>Nome: <%=@property.owner.name%></li>
    <li>Email: <%=@property.owner.email%></li>
    <li>Telefone: <%=@property.owner.phone%></li>
  </ul>
  <div class="">
      <%= link_to 'Efetuar Oferta', new_property_proposal_path(@property) %>
  </div>
  <div class="">
      <%= link_to 'Configurar Preco', new_property_price_path(@property)%>
  </div>
