<h1>Detalhes da Propiedade</h1>
<ul>
  <li>Tipo: <%=@property.property_type%></li>
  <li>Capacidade maxima: <%=@property.maximum_guests%></li>
  <li>Minimo dias de aluguel: <%=@property.minimum_rent%></li>
  <li>Maximo dias de aluguel: <%=@property.maximum_rent%></li>
  <li>Finalidade: <%=@property.rent_purpose%></li>
  <li>Localizacao: <%=@property.property_location%></li>
  <li>Descrição: <%=@property.description%></li>
  <li>Regras: <%=@property.rules%></li>
  <li>Valor: R$ <%=@property.daily_rate%></li>
  <li>Foto: <%=@property.picture%></li>
</ul>
<h2>Contatos</h2>
<ul>
  <li>Nome: <%=@property.owner.name%></li>
  <li>Email: <%=@property.owner.email%></li>
  <li>Telefone: <%=@property.owner.phone%></li>
</ul>
