<% @proposal.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>
<%= form_for [@prop, @proposal] do |f| %>
<div class="form-group">
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.label :email, 'email' %>
  <%= f.text_field :email, {class: "form-control"}  %>
</div>
<div class="form-group">
  <%= f.label :cpf, 'cpf' %>
  <%= f.text_field :cpf, {class: "form-control"}  %>
</div>
<div class="form-group">
  <%= f.label :phone, 'telefone' %>
  <%= f.text_field :phone, {class: "form-control"}  %>
</div>
<div class="form-group">
  <%= f.label :start_date, 'data inicial' %>
  <%= f.text_field :start_date, {class: "form-control"}  %>
</div>
<div class="form-group">
  <%= f.label :end_date, 'data final' %>
  <%= f.text_field :end_date, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.label :total_amount, 'total' %>
  <%= f.text_field :total_amount, {class: "form-control"}  %>
</div>
<div class="form-group">
  <%= f.label :rent_purpose, 'proposito' %>
  <%= f.text_field :rent_purpose, {class: "form-control"}  %>
</div>
<div class="form-group">
  <%= f.label :extra_info, 'infs extra' %>
  <%= f.text_field :extra_info, {class: "form-control"}  %>
</div>
<div class="form-group text-center">
  <%= f.submit 'Enviar', {class: "btn btn-primary"} %>
</div>
<% end %>
