p<h1>Detalhes da Proposta</h1>
<ul>

  <li>Nome: <%= @proposal.user.name %></li>
  <li>Data inicial: <%=@proposal.start_date.strftime("%d/%m/%Y")%></li>
  <li>Data final: <%=@proposal.end_date.strftime("%d/%m/%Y") %></li>
  <li>Total: R$ <%=format("%.2f", @proposal.total_amount)%></li>
  <li>Email: <%= @proposal.user.email %></li>
  <li>Telefone: <%= @proposal.user.phone %></li>
  <li>Proposito: <%=@proposal.rent_purpose %></li>
  <li>Infs Extras: <%=@proposal.extra_info %></li>
</ul>

  <%= link_to 'Voltar', root_path %>
</ul>
